.profile__statistic {
    /*display: flex;*/
    /*align-items: flex-start;*/
    /*justify-content: space-between;*/
    margin-bottom: 30px;
    /*gap: 30px*/
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header {
    align-items: center;
}

.ant-collapse-header-text {
    font-size: 18px;
}

/*.profile__content {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    max-width: 800px;*/
/*    column-gap: 100px;*/
/*}*/

/*.profile__item {*/
/*    width: 350px;*/
/*}*/

.profile-fields {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
}

.profile-field {
    margin-bottom: 30px;
    min-width: 350px;
}

.profile-field__title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 4px;
}

.profile-field__text {
    font-size: 28px;
}

.profile-field__edit {
    padding: 5px;
}

.profile-field__edit:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.profile-field__save {
    min-width: 48px!important;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-field__save:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.profile-field__input {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.profile-field__control {
    width: 100%;
}

.profile-buttons {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

