body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 h1 {
   margin-top: 0;
}

.page__title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ant-layout-content {
  background: white;
}

.field__label {
  display: block;
  margin-bottom: 10px;
}

.resources {
  margin-top: 30px;
  display: flex;
}

.resources__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 20px;
}

.resources__card svg {
  width: 200px;
}

.resources__card:hover {
  background-color: #FBFBFB;
}

.resources__card .ant-typography {
  font-size: 28px;
  color: #333333;
  font-weight: 500;
  /*font-weight: 700;*/
}

.page {
  padding: 25px;
  max-width: 1200px;
}

.button__circle.ant-btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.template {
  display: flex;
}

.content {
  width: 100%;
}

.ant-notification button {
  padding: 0;
}

.ant-table-wrapper .ant-table {
  overflow-y: auto;
}
